
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.header {
  /*overflow: hidden;*/
  margin: 0;
  padding: 20px 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.header a{
  text-align: center;
  padding: 20px 10px;
  font-size: 18px;
  border-radius: 4px;
  line-height: 50px;
  background-color: #f1f1f1;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  display: inline-block;
}

.navigation  li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}
/* #banner {

  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
} */
img{
  width: 50%;
  margin: auto;
  border: solid black 1px;



}


#main {
  margin: auto;
  padding: 40px;
  text-align: center;
}

h1 {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: red;
  font-size: 14px;
  line-height: 48px;

  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: solid red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: black;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contactUS{
   align: center;
   padding: 100% 10%;

}
.contactUs a{
  display: inline-block;

  /* } */
